/* Please read through the provided code below to understand it */

/* SIDEBAR*/
.sidebar-container {
  position: fixed;
  width: 280px;
  height: 100%;
  background-color: #65c3ad;
  -webkit-transform: translateX(-280px);
  -webkit-transition: all 0.3s;
}

.sidebar-item {
  font-weight: 700px;
  font-size: 16px;
  color: white;
  padding: 15px 20px;
}


/* QUESTION #5: PLACE "OTHER CSS" STYLES BELOW */
.section{
  width: 100%;
  position: relative;
}

#about-section{
  background-color: white;
  height: 600px;
}

#skills-section{
  background-color: #8bb2af;
  height: 600px;
}

#projects-section{
  background-color: #fff;
  height: 1000px;
}

#contact-text{
  color: black;
  height: 300px;
}

/* DOCUMENT SET UP */

body, html {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  min-width: 960px;
  background-color: black;
  -webkit-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-family: Lato;
}

a {
  text-decoration: none;
}

.clear {
  clear: both;
}

.img-scaled {
  width: 100%;
  height: 100%;
}

.img-scaled-wh {
  width: 100%;
  height: 100%;
  position: relative;
}

/* YOU DON'T NEED TO UNDERSTAND THE CODE BELOW */

#nav-toggle { 
  position: absolute; 
  left: 50%; top: 50%; 
}

#nav-toggle {
  padding: 10px 30px 15px 0px; 
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  height: 3px;
  width: 30px;
  background: grey;
  position: absolute;
  display: block;
  content: '';
}

#nav-toggle span:before {
  top: -10px; 
}

#nav-toggle span:after {
  bottom: -10px;
}

/* FREEBIES */

/* Styling the Sidebar Button */
#sidebar-button {
  position: fixed;
  z-index: 100;
  left: 15px;
  top: 15px;
  cursor: pointer;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
} 

/* Overriding default styles on the ul */
.sidebar-container ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 10px;
}

.page-wrapper {
  height: 100%;
  width: 100%;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}

/* jQuery Manipulation Classes */

.no-scroll {
  overflow: hidden;
}

.wrapper-active, .button-active {
  -webkit-transform: translateX(280px);
  -moz-transform: translateX(280px);
  transform: translateX(280px);
}

.sidebar-active {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -o-transform: translateX(0px);
}

/* NAME SVG */
svg {
  width: 500px;
  padding: 20px;
  margin-top: 20%;
  stroke-dasharray: 800;
  stroke-dashoffset: 800;
  animation: 3.5s dashanimation ease forwards;
}

path.st0{
  animation: 9s color-change ease forwards;
  fill: white;
}

@keyframes color-change{
  100%{
    fill: #EA9078;
  }
}

@keyframes dashanimation {
  to {
    stroke-dashoffset:0;
  }
}

body {
  text-align: center;
}
