@font-face{
  font-family: "Aku & Kamu";
  src: url("../Aku&Kamu.otf") format("opentype");
}

/* color
"black": #313435;
blue: #ACC4C8;
pink: #F4D2D1;
orange: #F1A54F;
*/


/* overall */
body{
  font-family: "Aku & Kamu";
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #313435;
}

.panel{
  width: 50%;
  height: 100%;
}

.container{
  height: 50%;
  width: 60%;
  margin: 30% auto;
}

.wrapper{
  width: 800px;
  margin: 0 auto;
}

.title{
  margin-top: 5%;
  font-size: 5em;
  text-align: center;
  color: #313435;
}

.links-other-container{
  margin-top: 2.5%;
  text-align: center;
  color: #313435;
}

.link-other{
  border-bottom: 2px solid #313435;
  margin: 0 5%;
  color: #313435;
}

.link-other:hover{
  padding: 2px 0px;
  border-bottom: 4px solid #ACC4C8;
  border-top: 4px solid #ACC4C8;
  transition: 130ms;
}

/* left */
#left-panel{
  background-color: #F9FAF5;
  position: fixed;
}

#left-text{
  width: 100%;
  margin: 10% 2%;
  font-size: 1.2em;
  line-height: 200%;
  color: #313435;
}

#links-container{
  margin-top: 15%;
  width: 100%;
  text-align: center;
  color: #313435;
}

.link {
  border-bottom: 2px solid #313435;
  margin: 0 10%;
  color: #313435;
}

.link:hover{
  padding: 2px 0px;
  border-bottom: 4px solid #ACC4C8;
  border-top: 4px solid #ACC4C8;
  transition: 130ms;
}

/* right */
#right-panel{
  background-color: #ACC4C8;
  position: fixed;
  top: 0;
  right: 0;
}

#box {
  text-align: center;
}

#box:hover{
  transform: scale(1.2);
  transition: 300ms;
}


/* name animation */
#name-animation{
    width: 100%;
}

svg {
  animation: 5s dashanimation ease forwards;
  stroke-dasharray: 2350;
  stroke-dashoffset: 2350;
}

path.st0{
  animation: 4s color-change ease forwards;
  fill: #F9FAF5;
}

@keyframes color-change{
  100%{
    fill: #313435;
  }
} 

@keyframes dashanimation {
  to {
    stroke-dashoffset:0;
  }
}

/* about page */
.c1 {
  width: 50%;
  float: left;
}

.c2{
  width: 50%;
  float: left;
}

.about-item{
  margin-top: 18%;
}

#bio {
  font-family: "Open Sans";
  font-size: 12px;
  line-height: 28px;
  padding-right: 10px;
}

/* resume page */
#resume-container {
  width: 75%;
  height: 100%;
  padding: 2% 0%;
  margin: 0 auto;
  margin-top: 10%;
  text-align: center;
  background-color: #ACC4C8;
}

#resume-container img {
  opacity: .8;
  transform: scale(.9);
  box-shadow: 15px 15px 5px #888888;
}

#resume-container:hover{
  cursor: pointer;
}

#resume-container:hover img {
  transform: scale(1);
  opacity: 1;
  transition: 500ms;
  box-shadow: 25px 20px 5px #313435;
}

/* media */
@media screen and (max-width: 799px) {
  .panel{
    width: 100%;
    height: 50%;
  }

  #right-panel{
    height: 25%;
  }

  #left-panel{
    bottom:0;
    height: 75%;
  }

  #left-text{
    font-size: 1em;
  }

  #left-container{
    margin: 25% auto;
  }

  #box img{
    width: 100px;
  }

  #box {
    margin-top: -50%;
    }

  .link {
    border-bottom: 2px solid;
    margin: 0 5%;
    }

  #resume-container {
    padding: 0 0;
    margin-top: 30%;
  }
}

@media screen and (max-width: 450px) {
  #resume-container{
    margin-top: 5%;
    background-color: white;
    padding: 0;
  }

  #resume-container img{
    margin-left: -8%;
    box-shadow: 0px 0px 0px #888888;
    padding: 0;

  }

  .wrapper{
    width: 300px;
    margin: 0 -2%;
  }

  .title{
    text-align: center;
  }

  .about-item{
    margin-top: 10%
  }

  .c1{
    width: 100%;
    display: inline-block;
    margin: 0 auto;

  }

  .c2{
    width: 100%;
    display: inline-block;
    margin: 0 auto;

  }

  #bio{
    font-size: 10px;
    padding-right: 0;
    padding-left: 30px;
  }
}
