@font-face{
  font-family: "Aku & Kamu";
  src: url("../Aku&Kamu.otf") format("opentype");
}

/* color
"black": #313435;
blue: #ACC4C8;
pink: #F4D2D1;
orange: #F1A54F;
*/


/* overall */
body{
  font-family: "Aku & Kamu";
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #313435;
}

.panel{
  width: 50%;
  height: 100%;
}

.container{
  height: 50%;
  width: 60%;
  margin: 30% auto;
}

#wrapper{
  width: 70%;
  margin: 0 auto;
}

.title{
  margin-top: 10%;
  font-size: 5em;
  text-align: center;
}

.links-other-container{
  margin-top: 2.5%;
  text-align: center;
}

.link-other{
  border-bottom: 2px solid #313435;
  margin: 0 5%;
}

/* left */
#left-panel{
  background-color: #FFF7DA;
  position: fixed;
}

#left-text{
  width: 100%;
  margin: 10% 2%;
  font-size: 1.2em;
  line-height: 200%;
}

#links-container{
  margin-top: 15%;
  width: 100%;
  text-align: center;
}

.link {
  border-bottom: 2px solid #313435;
  margin: 0 10%;
}

/* right */
#right-panel{
  background-color: #ACC4C8;
  position: fixed;
  top: 0;
  right: 0;
}

#box {
  text-align: center;
  opacity: .7;
}

#box:hover{
  opacity: 1;
  transform: scale(1.2);
  transform: 2s;
}


/* name animation */
#name-animation{
    width: 100%;
}

svg {
  animation: 5s dashanimation ease forwards;
  stroke-dasharray: 2350;
  stroke-dashoffset: 2350;
}

path.st0{
  animation: 4s color-change ease forwards;
  fill: #F9FAF5;
}

@keyframes color-change{
  100%{
    fill: #313435;
  }
} 

@keyframes dashanimation {
  to {
    stroke-dashoffset:0;
  }
}

/* resume page */
#resume-container{
  width: 80%;
  height: 100%;
  padding: 2% 0%;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 8%;
  text-align: center;
  background-color: lightgrey;
}

#resume-container:hover{
  cursor: pointer;
}

/* media */
@media screen and (max-width: 799px) {
  .panel{
    width: 100%;
    height: 50%;
  }

  #right-panel{
    height: 25%;
  }

  #left-panel{
    bottom:0;
    height: 75%;
  }

  #left-text{
    font-size: 1em;
  }

  #left-container{
    margin: 25% auto;
  }

  #box img{
    width: 100px;
  }

  #box{
    margin-top: -50%;
    }

  .link {
    border-bottom: 2px solid;
    margin: 0 5%;
    }
  }
}
